@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: transparent;
    /* Essential for transparent windows */
}

.drag-handle {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

textarea,
button,
input {
    -webkit-app-region: no-drag;
}